.theme-song-card {
    background-color: purple;
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
}

.theme-song-card__embed {
    width: 200px;
    border-radius: 20px;
}

.theme-song-card__info-box {
    padding-left: 2rem;
}