---
title: Who has the best theme song?
date: 2020-03-06
tags: three
layout: blog-layout
category: music
---

Lots of people have theme music these days. Even some dogs have theme music! So who has the best theme music?

I asked forty people what they thought, and they all answered incorrectly.

Here are some of the answers that might be acceptable:

<ol>
    <% data.themesongs.each do |song| %>
        <li><%= song.title %></li>
    <% end %>
</ol>

<%= data.themesongs %>

That's all! Let me know in the comments if you're wrong!


