---
title: "Questions and Answers"
date: 2020-05-08
layout: blog-layout
category: javascript
---

Welcome to the newest and best quiz. Answer some questions to find out what is 

---


<div class="question-and-answer">
  <h2>Question 1</h2>
  <form>
    <input type="text"/>
    <input type="submit"/> 
  </form>
  <div class="message"></div>
</div>

---

<div class="question-and-answer">
  <h2>Question </h2>
  <form>
    <input type="text"/>
    <input type="submit"/> 
  </form>
  <div class="message"></div>
</div>

---

<div class="question-and-answer">
  <h2>Question </h2>
  <form>
    <input type="text"/>
    <input type="submit"/> 
  </form>
  <div class="message"></div>
</div>

---

<div class="question-and-answer">
  <h2>Question </h2>
  <form>
    <input type="text"/>
    <input type="submit"/> 
  </form>
  <div class="message"></div>
</div>

---

<div class="question-and-answer">
  <h2>Question </h2>
  <form>
    <input type="text"/>
    <input type="submit"/> 
  </form>
  <div class="message"></div>
</div>


---

## Your Answers:

<div id="answers">
  
</div>
