---
title: "Questions and Answers"
date: 2020-05-08
layout: blog-layout
category: javascript
---

Welcome to the newest and best quiz. Answer some questions to find out what is 

---

## Question 1:

<div id="question1">
</div>

<form id="answer1">
    <input type="text" placeholder="Not The Great Deku Tree">
    <input type="submit" id="quizbutton" name="quizbutt">
</form>

<div id="message1"></div>


---

## Question 2: 

<div id="question2">
</div>

<form id="answer2">
    <input type="text" placeholder="Not John Linnel">
    <input type="submit" id="quizbutton" name="quizbutt">
</form>

<div id="message2"></div>

---

## Question 3: 

<div id="question3">
</div>

<form id="answer3">
    <input type="text" placeholder="Not Quaker">
    <input type="submit" id="quizbutton" name="quizbutt">
</form>

<div id="message3"></div>

---

## Question 4: 

<div id="question4">
</div>

<form id="answer4">
    <input type="text" placeholder="Not Microsoft Bob">
    <input type="submit" id="quizbutton" name="quizbutt">
</form>

<div id="message4"></div>

---

## Question 5: 

<div id="question5">
</div>

<form id="answer5">
    <input type="text" placeholder="Not Gummi Bears">
    <input type="submit" id="quizbutton" name="quizbutt">
</form>

<div id="message5"></div>

---

## Your Answers:

<div id="answers">
  
</div>
