---
title: "Questions and Answers"
date: 2020-05-08
layout: blog-layout
category: javascript
---

Welcome to the newest and best quiz. Answer some questions to find out what is 

---

## Question 1: 

What is your favorite anime?

<form id="quiz">
    <input type="text" placeholder="type anime title here">
    <input type="submit" id="quizbutton" name="quizbutt">
</form>


---

## Question 2: 

What is your favorite food?

<input type="text" placeholder="type anime title here">

---

## Question 3: 

What is your favorite movie?

<input type="text" placeholder="type anime title here">

---

## Question 4: 

What is your favorite video game?

<input type="text" placeholder="type anime title here">

---

## Question 5: 

What is the best thing you ate on your last vacation?

<input type="text" placeholder="type anime title here">

---
